@charset "UTF-8";
/* ------------------------------------------------------------ */
@font-face {
  font-family: Lifehack;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Gagalin;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Ubuntu;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
/* ------------------------------------------------------------ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  /*
      background-image: url("../img/bg-sites/index.jpg");

      font-family: 'Barlow Semi Condensed', Arial, sans-serif;
      font-family: 'Montserrat', Arial, sans-serif;
  */
}

img {
  max-width: 100%;
}

.visually-hidden {
  text-align: center;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-1 */
/* --------------------------------------------- */
.section-1 {
  min-height: 64px;
}

.section-1__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 11px;
  margin-right: 11px;
  padding-top: 15px;
  padding-left: 1px;
}

.section-1__logo {
  background-image: url("../img/mobile/logo-m.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 110px;
  height: 14px;
}

.section-1__tel {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat";
  color: #282828;
  line-height: 2.3;
  text-decoration: none;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-2 */
/* --------------------------------------------- */
.section-2 {
  min-width: 320px;
  max-width: 494px;
  min-height: 435px;
  margin: 0 auto;
  background-image: url("../img/mobile/bg-header-m.png");
  background-position-x: -884px;
  background-repeat: no-repeat;
}

.section-2__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2__header-1 {
  margin-top: 46px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 2.3;
  font-weight: 600;
  text-transform: uppercase;
}

.section-2__header-2 {
  margin-top: 0;
  margin-left: 78px;
  margin-right: 77px;
  margin-bottom: 25px;
  padding-left: 2px;
  padding-right: 4px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.section-2__img {
  background-image: url("../img/mobile/SwedishBitter-m.png");
  background-repeat: no-repeat;
  width: 86px;
  height: 188px;
  margin-bottom: 17px;
}

.section-2__link {
  width: 100%;
  min-height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.833;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
  background-color: #7eb252;
}
.section-2__link:hover {
  transition: 0.5s;
  background-color: #529915;
}

@media (min-width: 443px) {
  .section-2__img {
    margin-bottom: 53px;
  }
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-3 */
/* --------------------------------------------- */
.section-3 {
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}

.section-3__flex {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-right: 48px;
}

.section-3__flex-block-1 {
  padding-right: 4px;
}

.section-3__flex-block-2 {
  padding-right: 14px;
}

.section-3__flex-block-3 {
  padding-right: 18px;
}

.section-3__info-1 {
  width: -webkit-max-content;
  width: max-content;
  border-bottom: 3px solid #a4c58c;
  color: #a4c58c;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.833;
  font-weight: 600;
}

.section-3__info-2 {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.section-3__info-2-add {
  margin-bottom: 0;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-4 */
/* --------------------------------------------- */
.section-4 {
  display: flex;
  flex-direction: column;
  background-color: #f6f9f3;
}

.section-4__header {
  margin-top: 0;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 0;
  padding-left: 9px;
  padding-right: 9px;
  color: #303030;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
}

.section-4__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11px;
  padding-right: 11px;
}

.section-4__flex {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  padding-right: 9px;
}

.section-4__item {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.section-4__item-p {
  margin: 0;
  padding-right: 27px;
  color: #a4c58c;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.667;
}

.section-4__item-info {
  color: #303030;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.667;
  min-width: 91%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  border-bottom: 2px solid #e6efde;
}

.section-4__item-info-add {
  border: none;
}

.section-4__item-info-add-2 {
  text-transform: none;
  font-weight: 500;
  padding-right: 11px;
}

.section-4__item-info-1 {
  margin-top: 40px;
  padding-top: 0;
}

.section-4__fieldset {
  transform: scale(1, -1);
  border: 1px solid #c5dab5;
  margin-top: -6px;
  padding-top: 30px;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.section-4__legend {
  text-align: center;
}

.section-4__legend-link-p,
.section-4__legend-p {
  transform: scale(1, -1);
}

.section-4__legend-link {
  text-decoration: none;
}

.section-4__legend-link-p {
  margin: 0;
  color: #7eb252;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.714;
  text-decoration: underline;
}

.section-4__legend-p {
  color: #303030;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.714;
  margin: 0;
  padding: 0;
}

.section-4__link-2 {
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.833;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  min-width: 320px;
  min-height: 70px;
  margin-top: 19px;
  padding-top: 26px;
  padding-bottom: 25px;
  background-color: #7eb252;
}
.section-4__link-2:hover {
  transition: 0.5s;
  background-color: #529915;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-5 */
/* --------------------------------------------- */
.section-5 {
  margin-left: 11px;
  margin-right: 11px;
}

.section-5__header {
  margin-top: 59px;
  padding-left: 2px;
  color: #303030;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
}

.section-5__variables {
  margin: 0;
  color: #303030;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
}

.section-5__items {
  list-style: none;
  padding-left: 0;
}

.section-5__item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 23px;
}

.section-5__item-arrow {
  background-image: url("../img/mobile/arrowRight-m.png");
  background-repeat: no-repeat;
  width: 19px;
  min-height: 14px;
  padding-left: 1px;
  padding-right: 11px;
}

.section-5__item-info {
  color: #303030;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.571;
  margin: 0;
  padding-right: 0;
}

.section-5__info-swedish-bitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-5__girl-width-cup {
  background-image: url("../img/mobile/girlWidthCup-m.png");
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 244px;
  position: relative;
  left: -11px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.section-5__info-swedish-bitter-p {
  color: #303030;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.714;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 24px;
}

.section-5__link {
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.833;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100vw;
  min-width: 320px;
  min-height: 70px;
  margin-left: -11px;
  margin-right: -11px;
  padding-top: 26px;
  padding-bottom: 25px;
  background-color: #7eb252;
}
.section-5__link:hover {
  transition: 0.5s;
  background-color: #529915;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-6 */
/* --------------------------------------------- */
.section-6 {
  margin-left: 11px;
  margin-right: 11px;
}

.section-6__flex {
  display: flex;
  flex-direction: column;
}

.section-6__header {
  margin-top: 55px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 21px;
  color: #303030;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.section-6__info {
  color: #303030;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.714;
  margin-top: 22px;
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 3px;
}

.section-6__famoso-doctor-pareselsvs {
  background-image: url("../img/mobile/FamosoDoctorPareselsvs-m.png");
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 382px;
  position: relative;
  left: -11px;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */