/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-3 */
/* --------------------------------------------- */

.section-3 {
    min-height: 751px;

    margin-left: 11px;
    margin-right: 11px;
}

.section-3__flex {
    display: flex;
    flex-direction: column;

    margin-left: 44px;
    margin-right: 48px;
}

.section-3__flex-block-1 {
    padding-right: 4px;
}

.section-3__flex-block-2 {
    padding-right: 14px;
}

.section-3__flex-block-3 {
    padding-right: 18px;
}

.section-3__info-1 {
    width: max-content;

    border-bottom: 3px solid #a4c58c;

    color: #a4c58c;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.833;
    font-weight: 600;
}

.section-3__info-2 {
    color: #000000;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

/* --------------------------------------------- */
/* --------------------------------------------- */