/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-4 */
/* --------------------------------------------- */

.section-4 {
    display: flex;
    flex-direction: column;

    background-color: #f6f9f3;
}

.section-4__header {
    margin-top: 0;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 0;

    padding-left: 9px;
    padding-right: 9px;

    color: #303030;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.25;
    font-weight: 700;
    text-align: center;

    background-color: #ffffff;
}

.section-4__container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 11px;
    padding-right: 11px;
}

.section-4__flex {
    list-style: none;

    margin-top: 0;

    padding-left: 0;
    padding-right: 9px;
}

.section-4__item {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.section-4__item-p {
    margin: 0;

    padding-right: 27px;

    color: #a4c58c;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.667;
}

.section-4__item-info {
    color: #303030;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.667;

    min-width: 91%;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 30px;
    padding-bottom: 29px;

    border-bottom: 2px solid #e6efde;
}

.section-4__item-info-add {
    border: none;
}

.section-4__item-info-add-2 {
    text-transform: none;
    font-weight: 500;

    padding-right: 11px;
}

.section-4__item-info-1 {
    margin-top: 40px;

    padding-top: 0;
}

.section-4__fieldset {
    transform: scale(1, -1);

    border: 1px solid #c5dab5;

    margin-top: -6px;

    padding-top: 30px;
    padding-left: 17px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.section-4__legend {
    text-align: center;
}

.section-4__legend-link-p,
.section-4__legend-p {
    transform: scale(1, -1);
}

.section-4__legend-link {
    text-decoration: none;
}
.section-4__legend-link-p {
    margin: 0;

    color: #7eb252;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.714;
    text-decoration: underline;
}

.section-4__legend-p {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.714;

    margin: 0;
    padding: 0;
}

.section-4__link-2 {
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.833;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
    width: 100%;
    min-width: 320px;
    min-height: 70px;
    
    margin-top: 19px;

    padding-top: 26px;
    padding-bottom: 25px;
    
    background-color: #7eb252;

    &:hover {
        transition: 0.5s;
        background-color: #529915;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */