/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-6 */
/* --------------------------------------------- */

.section-6 {
    margin-left: 11px;
    margin-right: 11px;
}

.section-6__flex {
    display: flex;
    flex-direction: column;
}

.section-6__header {
    margin-top: 55px;
    margin-bottom: 0;

    padding-left: 9px;
    padding-right: 14px;

    color: #303030;
    font-size: 20px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}


.section-6__info {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.714;

    margin-top: 22px;
    margin-bottom: 0;

    padding-left: 2px;
    padding-right: 3px;
}

.section-6__famoso-doctor-pareselsvs {
    background-image: url("../img/mobile/FamosoDoctorPareselsvs-m.png");
    background-repeat: no-repeat;
   
    min-width: 320px;
    min-height: 382px;
    
    position: relative;
    left: -11px;

    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
}

.section-6__form-flex {
    display: flex;
    flex-direction: column;
}

.section-6__form-flex-p {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.571;

    margin-top: 0;
    margin-bottom: 0;

    padding-left: 40px;
    padding-right: 44px;
    padding-bottom: 34px;
}

.section-6__form-flex-input {
    line-height: 2.3;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cddcbc;

    &::placeholder {
        color: #a8c48c;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 600;
        text-align: center;
    }
}

.section-6__form-flex-btn {
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.833;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
    width: 100vw;
    min-width: 320px;
    min-height: 60px;

    margin-top: 34px;
    margin-left: -11px;
    margin-right: -11px;
    
    background-color: #7eb252;

    border: none;
    
    &:hover {
        cursor: pointer;
        
        transition: 0.5s;

        background-color: #529915;
    }    
}

.section-6__blockquote {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
}

.section-6__blockquote-info {
    color: #303030;
    font-size: 13px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.714;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 5px;
}

.section-6__blockquote-author {
    color: #303030;
    font-size: 13px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.286;

    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 75px;
    padding-right: 77px;
}

.section-6__blockquote-date {
    color: #9a9a9a;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.386;

    margin-top: 20px;
    margin-bottom: 58px;
}

@media (min-width: 431px) {
    .section-6__header-br {
        display: none;
    }
}
/* --------------------------------------------- */
/* --------------------------------------------- */