/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-7 */
/* --------------------------------------------- */

.section-7 {
    background-color: #f6f9f3;

    @media (min-width: 768px) {
        margin-top: -13px;

        min-height: 561px;
    }
}

.section-7__block {
    margin-right: 11px;
    margin-left: 11px;

    @media (min-width: 768px) {
        margin-left: 22px;
        margin-right: 22px;
    }
}

.section-7__header {
    color: #303030;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.25;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 48px;
    padding-right: 28px;
    padding-left: 26px;

    z-index: 1;

    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 1.333;

        padding-right: 77px;
        padding-left: 73px;
    }
}

.section-7__flex {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 10px;

    padding-left: 0;

    @media (min-width: 768px) {
        flex-direction: row;
        
        width: 724px;
        min-height: 252px;

        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;

        padding-top: 19px;
        padding-right: 14px;
        padding-bottom: 14px;
        padding-left: 12px;

        background-color: #ffffff;
    }
}

.section-7__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        width: 220px;
        height: 220px;

        border: 2px solid #7eb186;
    }
}

.section-7__items-01 {
    margin-top: -48px;

    @media (min-width: 768px) {
        margin-top: 0;
        margin-right: 13px;

        padding-top: 58px;
    }
}

.section-7__items-02 {
    margin-top: -24px;

    @media (min-width: 768px) {
        margin-top: 0;

        padding-top: 70px;
    }
}

.section-7__items-03 {
    margin-top: -28px;
    margin-bottom: 70px;

    @media (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 13px;

        padding-top: 63px;
    }
}

.section-7__items-number {
    color: #ffffff;
    font-size: 134.332px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 0.149;

    @media (min-width: 768px) {
        color: #f7faf4;
        font-size: 153.386px;
        line-height: 0.13;

        margin-top: 0;
    }
}

.section-7__items-img-01 {
    background-image: url("../img/mobile/pickingРerbs-m.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 88px;
    min-height: 86px;

    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/pickingРerbs-t.png");

        min-width: 66px;
        min-height: 63px;
    }
}

.section-7__items-img-01-add {
    margin-top: -190px;
}

.section-7__items-img-02 {
    background-image: url("../img/mobile/defaultInstruction-m.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 99px;
    min-height: 72px;

    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/defaultInstruction-t.png");

        min-width: 70px;
        min-height: 53px;
    }
}

.section-7__items-img-02-add {
    margin-top: -173px;
}

.section-7__items-img-03 {
    background-image: url("../img/tablet/QualityCertificate-t.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 84px;
    min-height: 72px;

    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/QualityCertificate-t.png");

        min-width: 61px;
        min-height: 53px;
    }
}

.section-7__items-img-03-add {
    margin-top: -180px;
}

.section-7__items-header {
    color: #303030;
    font-size: 12.4px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.613;

    margin-bottom: 0;

    @media (min-width: 768px) {
        font-size: 10px;
        font-weight: 700;
        line-height: 1.434;
    }
}

.section-7__items-header-01 {
    margin-top: 26px;
}

.section-7__items-header-02 {
    margin-top: 31px;
}

.section-7__items-header-03 {
    margin-top: 35px;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
