/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-7 */
/* --------------------------------------------- */

.section-7 {
    background-color: #f6f9f3;
}

.section-7__block {
    margin-left: 11px;
    margin-right: 11px;
}

.section-7__header {
    color: #303030;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.25;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 56px;
    padding-left: 26px;
    padding-right: 28px;
}

.section-7__flex {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-left: 0;
}

.section-7__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-7__items-01 {
    margin-top: -48px;
}

.section-7__items-02 {
    margin-top: -24px;
}

.section-7__items-03 {
    margin-top: -28px;
    margin-bottom: 70px;
}

.section-7__items-number {
    color: #ffffff;
    font-size: 134.332px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 0.149;
}

.section-7__items-img-01 {
    background-image: url("../img/mobile/pickingРerbs-m.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 88px;
    min-height: 86px;

    margin-left: auto;
    margin-right: auto;
}

.section-7__items-img-01-add {
    margin-top: -190px;
}

.section-7__items-img-02 {
    background-image: url("../img/mobile/defaultInstruction-m.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 99px;
    min-height: 72px;

    margin-left: auto;
    margin-right: auto;
}

.section-7__items-img-02-add {
    margin-top: -173px;
}

.section-7__items-img-03 {
    background-image: url("../img/mobile/QualityCertificate-m.png");
    background-repeat: no-repeat;

    display: block;

    min-width: 84px;
    min-height: 72px;

    margin-left: auto;
    margin-right: auto;
}

.section-7__items-img-03-add {
    margin-top: -180px;
}

.section-7__items-header {
    color: #303030;
    font-size: 12.4px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.613;

    margin-bottom: 0;
}

.section-7__items-header-01 {
    margin-top: 26px;
}

.section-7__items-header-02 {
    margin-top: 26px;
}

.section-7__items-header-03 {
    margin-top: 26px;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
