/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 12*/
/* --------------------------------------------- */

.section-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 17px;
    margin-right: 11px;
    margin-left: 11px;
    margin-bottom: 27px;
}

.section-12__link {
    color: #9a9a9a;
    font-size: 11.571px;
    font-family: "Montserrat", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 2.877;

    z-index: 2;

    &::after {
        content: " ";
        display: block;

        margin-top: -10px;

        border-bottom: 2px solid #9a9a9a;

        z-index: 1;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */