/* ------------------------------------------------------------ */
@font-face {
  font-family: Lifehack; /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Gagalin;  /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

/* ------------------------------------------------------------ */