/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-2 */
/* --------------------------------------------- */

.section-2 {
    min-width: 320px;
    max-width: 494px;
    min-height: 435px;

    margin: 0 auto;

    background-image: url("../img/mobile/bgHeader-m.png");
    background-position-x: -884px;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/bgHeader-t.png");
        background-position: center;
        background-position-x: -775px;
        background-position-y: -14px;

        min-width: 100.6%;
        min-height: 544px;
    }

    @media (min-width: 954px) {
        background-position-x: center;
    }

    @media (min-width: 1920px) {
        background-image: url("../img/desktop/bgHeader-d.png");
        background-position-x: -7px;
        background-position-y: -10px;
    }
}

.section-2__container {
    @media (min-width: 768px) {
        margin-right: auto;
        margin-left: auto;

        width: 768px;
    }

    @media (min-width: 1920px) {
        min-width: 1200px;
    }
}

.section-2__flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row-reverse;

        width: 724px;

        margin-right: 12px;
        margin-left: 12px;

        padding-right: 10px;
        padding-left: 2px;
    }

    @media (min-width: 1920px) {
        width: 1200px;

        margin-right: 15px;
        margin-left: 79px;

        padding-left: 20px;
    }
}

.section-2__flex-right {
    @media (min-width: 768px) {
        width: 100%;
        min-width: 362px;

        margin-top: -255px;
        margin-left: 66px;

        padding-left: 10px;
    }

    @media (min-width: 1920px) {
        min-width: 600px;
        min-height: 280px;

        margin-top: -134px;
        margin-left: 100px;

        padding-right: 11px;
        padding-left: 30px;
    }
}

.section-2__header-1 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding: 0;

    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 2.3;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 15px;
        text-align: left;

        margin-top: -34px;
        margin-left: 16px;
    }

    @media (min-width: 1920px) {
        margin-left: 13px;
    }
}

.section-2__header-2 {
    margin-top: 4px;
    margin-right: 74px;
    margin-bottom: 25px;
    margin-left: 75px;

    padding-left: 2px;
    padding-right: 4px;

    color: #ffffff;
    font-size: 30px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 50px;
        text-align: left;

        margin-left: 9px;

        position: relative;
        top: 7px;
    }

    @media (min-width: 1920px) {
        font-size: 60px;

        margin-left: 8px;

        top: -1px;
    }
}

.section-2__info {
    display: none;

    @media (min-width: 768px) {
        display: block;

        color: #ffffff;
        font-size: 16px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.5;

        margin-left: 16px;

        position: relative;
        top: -5px;
    }

    @media (min-width: 1920px) {
        font-size: 18px;
        line-height: 1.433;

        margin-left: 13px;

        top: 6px;
    }
}

.section-2__info-br-1 {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 1920px) {
        display: none;
    }
}

.section-2__info-fix {
    display: none;

    @media (min-width: 1920px) {
        display: inline-block;
    }
}

.section-2__info-br-2 {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.section-2__info-br-3 {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 1920px) {
        display: none;
    }
}

.section-2__img {
    background-image: url("../img/mobile/SwedishBitter-m.png");
    background-repeat: no-repeat;

    width: 86px;
    height: 188px;

    margin-bottom: 32px;

    @media (min-width: 443px) {
        margin-bottom: 53px;
    }

    @media (min-width: 768px) {
        background-image: url("../img/tablet/SwedishBitter-t.png");

        width: 100%;
        max-width: 298px;
        height: 648px;

        margin-top: 79px;
        margin-right: -17px;
        margin-left: 6px;
    }

    @media (min-width: 1920px) {
        background-image: url("../img/desktop/SwedishBitter-d.png");
        background-position: center;
        background-position-x: 26px;
        background-position-y: 4px;

        min-width: 370px;
    }
}

.section-2__link {
    width: 100%;
    min-height: 60px;

    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.833;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    padding-top: 20px;

    background-color: #7eb252;

    &:hover {
        transition: 0.5s;
        background-color: #529915;
    }

    @media (min-width: 443px) {
        margin-top: 14px;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.section-2__form {
    display: none;

    @media (min-width: 768px) {
        display: block;

        position: relative;

        width: 100%;
        max-width: 571px;
        min-height: 296px;

        margin-top: -350px;
        margin-right: 21px;
        margin-left: auto;

        padding-top: 1px;
        padding-right: 19px;
        padding-left: 20px;

        background-color: #ffffff;
    }

    @media (min-width: 1920px) {
        margin-top: -347px;
        margin-right: 28px;
    }
}

.section-2__form-flex {
    margin-top: 19px;
    margin-left: auto;

    padding-left: 50px;

    width: 100%;
    max-width: 551px;
    min-height: 277px;

    border: 1px solid #c8dcba;

    @media (min-width: 768px) {
        position: relative;

        padding-left: 48px;
    }
}

.section-2__form-flex-p {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.571;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;

    margin-top: 34px;
    margin-bottom: 35px;

    @media (min-width: 768px) {
        font-weight: 700;

        margin-top: 44px;
    }

    @media (min-width: 1920px) {
        font-size: 15px;

        margin-top: 42px;
    }
}

.section-2__form-flex-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #cddcbc;

    margin-right: 30px;

    @media (min-width: 768px) {
        margin-right: 0;
    }

    &::placeholder {
        color: #a8c58d;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.571;
        text-align: left;

        padding-left: 1px;
    }
}

.section-2__form-flex-input-name {
    @media (min-width: 768px) {
        width: 37.5%;

        position: absolute;
        top: 127px;

        margin-left: 2px;

        padding-bottom: 11px;
    }

    @media (min-width: 1920px) {
        margin-left: -1px;
    }
}

.section-2__form-flex-input-phone {
    @media (min-width: 768px) {
        width: 37.5%;

        position: absolute;
        top: 127px;
        right: 90px;

        margin-right: -39px;

        padding-bottom: 11px;
    }

    @media (min-width: 1920px) {
        margin-right: -36px;
    }
}

.section-2__form-flex-btn {
    margin-top: 89px;
    margin-left: auto;

    width: 100%;
    max-width: 250px;
    min-height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.571;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    background-color: #7eb252;

    cursor: pointer;

    @media (min-width: 768px) {
        margin-top: 128px;

        padding-right: 5px;
        padding-left: 19px;
    }

    @media (min-width: 1920px) {
        font-size: 15px;

        margin-top: 125px;

        padding-right: 4px;
        padding-left: 18px;
    }

    &:hover {
        transition: 0.5s;
        background-color: #529915;
    }

    &::after {
        content: " ";

        display: block;

        background-image: url("../img/tablet/arrowRight-t.png");

        width: 100%;
        max-width: 31px;
        height: 9px;

        margin-left: 18px;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */
