/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section-5 */
/* --------------------------------------------- */

.section-5 {
    margin-top: 59px;
    margin-right: 11px;
    margin-left: 11px;

    @media (min-width: 768px) {
        margin-top: 148px;
        margin-right: 22px;
        margin-left: 22px;

        padding-right: 79px;
        padding-left: 79px;
    }
}

.section-5__header {
    color: #303030;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;

    margin-top: -7px;

    padding-left: 2px;

    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 1.333;
    }
}

.section-5__variables {
    color: #303030;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;

    margin-top: 21px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    @media (min-width: 768px) {
        font-size: 15px;
        line-height: 1.429;
        font-weight: 700;

        margin-top: 40px;
    }
}

.section-5__items {
    list-style: none;
    padding-left: 0;
}

.section-5__item {
    display: flex;
    justify-content: center;
    align-items: baseline;

    margin-bottom: 23px;

    @media (min-width: 768px) {
        justify-content: start;
        align-items: center;
    }
}

.section-5__item-01 {
    margin-top: 20px;

    @media (min-width: 768px) {
        margin-top: 30px;
        margin-left: 14px;
    }
}

.section-5__item-02 {
    margin-top: -6px;

    @media (min-width: 768px) {
        margin-top: -2px;
        margin-left: 14px;
    }
}

.section-5__item-03 {
    margin-top: -7px;

    @media (min-width: 768px) {
        margin-top: -2px;
        margin-left: 14px;
    }
}

.section-5__item-04 {
    margin-top: -3px;

    @media (min-width: 768px) {
        margin-top: -2px;
        margin-left: 15px;
    }
}

.section-5__item-arrow {
    background-image: url("../img/mobile/arrowRight-m.png");
    background-repeat: no-repeat;

    width: 19px;
    min-height: 14px;

    padding-right: 20px;
    padding-left: 1px;

    @media (min-width: 768px) {
        padding-right: 40px;
    }
}

.section-5__item-info {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.571;

    margin: 0;

    padding-right: 0;

    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.375;
    }
}

.section-5__info-swedish-bitter {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        margin-top: 44px;
    }
}

.section-5__girl-width-cup {
    background-image: url("../img/mobile/girlWidthCup-m.png");
    background-repeat: no-repeat;

    min-width: 320px;
    min-height: 244px;

    position: relative;
    left: -11px;

    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/girlWidthCup-t.png");

        min-width: 876px;
        min-height: 645px;

        margin-left: -196px;
    }
}

.section-5__info-swedish-bitter-wrapper {
    width: 100%;

    @media (min-width: 768px) {
        width: 600px;

        margin-top: -201px;
        margin-right: auto;
        margin-left: auto;

        position: relative;
        right: 18px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #ffffff;

        z-index: 1;
    }
}

.section-5__info-swedish-bitter-container {
    @media (min-width: 768px) {
        width: 600px;
        min-height: 161px;
    }
}

.section-5__info-swedish-bitter-p {
    color: #303030;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.714;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 34px;

    padding-right: 24px;
    padding-left: 30px;

    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;

        width: 562px;
        min-height: 141px;

        margin-top: 19px;
        margin-left: 20px;

        padding-top: 34px;
        padding-right: 17px;
        padding-bottom: 38px;
        padding-left: 38px;

        border-top: 1px solid #c8dcba;
        border-right: 1px solid #c8dcba;
        border-left: 1px solid #c8dcba;
    }
}

.section-5__info-swedish-bitter-p-br {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.section-5__link-container {
    display: flex;

    width: 100%;

    margin-left: 1px;

    @media (min-width: 768px) {
        width: 558px;
        min-height: 90px;

        position: relative;

        margin-top: -36px;
        margin-bottom: 20px;
    }
}

.section-5__link {
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.833;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    width: 100vw;
    min-width: 320px;
    min-height: 70px;

    margin-top: 2px;
    margin-right: -11px;
    margin-left: -11px;

    padding-top: 26px;
    padding-bottom: 25px;

    background-color: #7eb252;

    @media (min-width: 768px) {
        font-size: 15.2px;
        line-height: 1.571;

        width: 561px;

        position: absolute;
        top: -3px;

        margin-left: -2px;

        padding-top: 22px;
        padding-left: 39px;

        border-right: 1px solid #c8dcba;
        border-bottom: 1px solid #c8dcba;
        border-left: 1px solid #c8dcba;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    &:hover {
        transition: 0.5s;
        background-color: #529915;
    }

    &::after {
        display: none;

        @media (min-width: 768px) {
            display: block;

            content: " ";

            background-image: url("../img/tablet/arrowRight-t.png");
            background-repeat: no-repeat;

            width: 31px;
            height: 9px;

            margin-left: 20px;
        }
    }
}

.section-5__link-add-text {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */
