/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 10 */
/* --------------------------------------------- */

.section-10 {
    margin-top: 38px;

    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        justify-content: center;

        padding-right: 58px;
        padding-left: 70px;

        margin-top: 64px;
        margin-right: 65px;
        margin-bottom: 149px;
        margin-left: 61px;

        border: 1px solid #c8dcba;
    }
}

.section-10__info {
    padding-right: 11px;
    padding-left: 11px;

    @media (min-width: 768px) {
        padding-top: 24px;
        padding-right: 0;
        padding-left: 0;
    }
}

.section-10__header {
    color: #2f2f2f;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;

    padding-right: 13px;
    padding-left: 10px;

    @media (min-width: 768px) {
        font-size: 39px;
        font-weight: 600;
        text-align: left;

        padding-right: 0;
        padding-left: 0;
    }
}

.section-10__data {
    color: #2f2f2f;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.571;
    text-align: left;

    padding-top: 7px;
    padding-right: 13px;
    padding-left: 1px;

    @media (min-width: 768px) {
        font-size: 15.5px;
        line-height: 1.375;

        padding-top: 16px;
        padding-right: 0;
    }
}

.section-10__data-span {
    @media (min-width: 768px) {
        display: none;
    }
}

.section-10__add-data {
    color: #2f2f2f;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.571;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;

    margin-top: 17px;

    padding-right: 18px;
    padding-left: 14px;

    z-index: 2;

    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.429;
        text-align: left;

        padding-top: 5px;
        padding-right: 0;
        padding-left: 0;
    }
}

.section-10__link-magic {
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    line-height: 1.833;

    width: 100%;
    min-height: 70px;

    margin-top: 25px;

    padding-top: 12px;
    padding-bottom: 6px;

    background-color: #7eb252;

    @media (min-width: 768px) {
        line-height: 1.571;
        font-size: 15px;
        align-items: center;

        width: 500px;
        min-height: 69px;

        margin-top: 48px;
        margin-bottom: 70px;

        padding-top: 2px;
        padding-right: 0;

        display: flex;
        justify-content: center;
    }

    &:hover {
        transition: 0.5s;

        background-color: #529915;
    }

    &:after {
        @media (min-width: 768px) {
            display: block;

            content: " ";

            background-image: url("../img/tablet/arrowRight-t.png");
            background-repeat: no-repeat;

            width: 31px;
            height: 9px;

            margin-left: 20px;
        }
    }
}

.section-10__link-magic-br {
    @media (min-width: 768px) {
        display: none;
    }
}

.ection-10__link-magic-nbsp {
    display: none;
    
    @media (min-width: 768px) {
        display: block;
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */
