/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 11*/
/* --------------------------------------------- */

.section-11 {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 26px;

    background-color: #f6f9f3;

    @media (min-width: 768px) {
        padding-top: 65px;
    }
}

.section-11__main-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 11px;
    padding-left: 11px;

    @media (min-width: 768px) {
        width: 768px;

        margin-bottom: 75px;

        padding-right: 22px;
        padding-left: 22px;

        background-color: #f6f9f3;
    }
}

.section-11__header {
    color: #2f2f2f;
    font-size: 24px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    line-height: 2.083;
    text-align: center;

    padding-right: 22px;
    padding-left: 20px;

    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 1.667;

        min-width: 106vw;

        margin-top: -76px;

        padding-right: 22px;
        padding-bottom: 38px;
        padding-left: 22px;

        background-color: #fff;
    }
}

.section-11__data {
    color: #2f2f2f;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;

    margin-top: -9px;

    padding-right: 17px;
    padding-left: 11px;

    @media (min-width: 768px) {
        font-size: 15px;
        line-height: 1.714;

        margin-top: 20px;

        padding-right: 112px;
        padding-left: 101px;
    }
}

.section-11__certificate {
    background-image: url("../img/mobile/certificate-m.png");
    background-repeat: no-repeat;

    display: block;

    width: 280px;
    height: 434px;

    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        background-image: url("../img/tablet/certificate-t.png");
        background-position-y: 3px;
        background-position-x: -16px;
    }
}

.section-11__container {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;

        width: 724px;

        margin-right: 22px;
        margin-left: 22px;
    }
}

.section-11__info {
    margin-top: 19px;

    padding-right: 5px;
    padding-left: 4px;

    @media (min-width: 768px) {
        width: 415px;

        margin-top: 13px;

        padding-right: 19px;
        padding-left: 19px;
        padding-bottom: 0;

        background-color: #ffffff;
    }

    fieldset {
        margin: 0;

        padding: 0;

        border: none;

        @media (min-width: 768px) {
            border: 1px solid #c8dcba;

            padding-top: 84px;
            padding-right: 0;
            padding-left: 21px;
        }

        legend {
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;

                margin-left: 26px;

                padding-right: 7px;
                padding-left: 0;
            }
        }
    }
}

.section-11__info-header {
    color: #a4c58c;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
}

.section-11__annotation {
    color: #2f2f2f;
    font-size: 14px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.571;
    text-align: left;

    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.375;
    }
}

.section-11__annotation-01 {
    margin-top: -5px;

    @media (min-width: 768px) {
        margin-top: -23px;
        margin-left: 8px;

        padding-right: 2px;
    }
}

.section-11__annotation-02 {
    margin-top: 26px;

    @media (min-width: 768px) {
        width: 333px;

        margin-top: 20px;
        margin-left: 8px;
    }
}

.section-11__link-order {
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    line-height: 1.833;

    display: block;

    width: 100%;
    min-height: 60px;

    margin-top: 15px;

    padding-top: 20px;
    padding-bottom: 19px;

    background-color: #7eb252;

    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.571;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 106%;

        margin-top: 80px;
        margin-left: -21px;

        padding-top: 20px;
        padding-left: 11px;
    }

    &:hover {
        transition: 0.5s;

        background-color: #529915;
    }

    &:after {
        @media (min-width: 768px) {
            display: block;

            content: " ";

            background-image: url(../img/tablet/arrowRight-t.png);
            background-repeat: no-repeat;

            width: 31px;
            height: 9px;

            margin-left: 20px;
        }
    }
}

/* --------------------------------------------- */
/* --------------------------------------------- */
